* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.chatdiv {
    height: 100vh;
    max-width: 100vh;
}

.chat-wrapper {
    max-height: 80vh;
    overflow-y: scroll;
}

.chat {
    margin: 24px 0px;
    font-family: sans-serif;
}

.chat b {
    font-size: 12px;
    color: red;
}